.App {
  text-align: center;
  background-color: rgb(255, 255, 255);
  height: 100vh;
  /* Full viewport height */
}

.Cart.toggled {
  position: fixed;
  top: 7% + 10 'px';
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.cart-widget {
  position: relative;
}

.cart-products {
  position: fixed;
  top: 7%;
  right: 20px;
  z-index: 1100;
  background-color: #fff;
  width: 300px;
}

.nav-item .badge {
  font-size: 0.75rem;
  padding: 0.5em 0.6em;
  transform: translate(-50%, -50%);
}

.App-logo {
  height: 40vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.text.center {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 25px;
  /* font-weight: 500; */
}

.product-card {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.image-wrapper {
  width: 100%;
  height: 200px;
  /* Adjust height as needed */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.out-of-stock {
  opacity: 0.35;
}
.card-text {
  width: 100%;
}
.card-icon{
  color: green;
  font-size: 20px;
  margin-left: auto;
}

.shadow-select {
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  box-shadow: 0 0 0 0;
}

.shadow-select.selected {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.slider-img{

  height: 500px;
  width: auto;
  object-fit: fill;

}

.gallery{

  display: flex;
  flex-direction: column;
  max-height: 500px;
  object-fit: contain;
    caret-color: transparent;

}
.gallery img{
  padding-bottom: 10px;
  height: auto;
  max-height: 20%;
  width: auto;
  object-fit: contain;
  overflow: hidden;
}
.product-info{
  display: flex;
  flex-direction: column;
  justify-content:baseline;
  align-items: flex-start;
  height: 100%;

  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.details{
  
  margin-left: auto;
}

.cart-btn {
  /* margin: 10px; */
  margin: 50px;
}


.image-wrapper img {
  width: 100%;
  height: 100%;

  justify-content: flex-start;
  object-fit: fill;
}

.navbar .nav-item.selected .nav-link {
  color: rgb(103, 216, 103);

}

a {
  color: inherit;
  text-decoration: inherit;
}

img {
  position: relative;
  pointer-events: none;
  z-index: 1;
}

.navbar .nav-item .nav-link {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  padding: 1rem;
  caret-color: transparent;

}

.card-set {
  overflow-x: auto;
}

.card {
  caret-color: transparent;
  background-color: inherit;
  justify-content: center;
  align-items: center;
  border: none;
  max-width: 50vh;
}



.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}


.items{
  align-items: start;
  justify-content: space-between
}

.item-border {
  list-style: none;
  border: 1px solid #000000;
  width: auto;
  border-radius: 8px;
  margin: 10px;

}

.nav-item.selected {
  border-bottom: 3px solid rgb(103, 216, 103);
  color: #e5e6e6;
}

.app-container {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
  font-family: 'Raleway';
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
