.App {
  text-align: center;
  background-color: rgb(255, 255, 255);
  height: 100vh;
  overflow: auto;
}

.Cart.toggled {
  position: fixed;
  top: 7% + 10 'px';
  left: 0;
  width: 100%;
  height: 200%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}


.cart-products  {
  caret-color: transparent;
  position: fixed;
  top: 7%;
  right: 20px;
  z-index: 1100;
  max-height: 500px;
  overflow: auto;
  background-color: #fff;
  width: 360px;
}

.nav-item .badge {
  font-size: 0.75rem;
  padding: 0.5em 0.6em;
  transform: translate(-50%, -50%);
}

.App-logo {
  height: 40vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.text.center {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 25px;
  /* font-weight: 500; */
}

.product-card {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.image-wrapper {
  width: 100%;
  height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.out-of-stock {
  opacity: 0.35;
}
.card-text {
  width: 100%;
}
.card-icon{
  color: green;
  font-size: 20px;
  margin-left: auto;
}

.shadow-select {
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  box-shadow: 0 0 0 0;
}

.shadow-select.selected {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


.option-select {
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  box-shadow: 0 0 0 0;
}

.option-select.selected {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.8);
}

.slider-img{
  height: 500px;
  width: auto;
  object-fit: fill;

}

.gallery{

  display: flex;
  flex-direction: column;
  max-height: 500px;
  object-fit: contain;
  caret-color: transparent;
  overflow:auto;
  scrollbar-width: none;

}
.gallery img{
  padding-bottom: 10px;
  height: auto;
  max-height: 20%;
  width: auto;
  object-fit: contain;
}
.product-info{
  display: flex;
  flex-direction: column;
  justify-content:baseline;
  align-items: flex-start;
  height: 100%;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.details{
  margin-left: auto;
    caret-color: transparent;


}

.cart-btn {
  margin: 50px;
}


.image-wrapper img {
  width: 100%;
  height: 100%;

  justify-content: flex-start;
  object-fit: fill;
}

.navbar .nav-item.selected .nav-link {
  color: rgb(103, 216, 103);

}

a {
  color: inherit;
  text-decoration: inherit;
}

img {
  position: relative;
  pointer-events: none;
  z-index: 1;
}
.nav-parent {
  height: 7%;
}

.navbar .nav-item .nav-link {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  padding: 1rem;
  caret-color: transparent;

}

.card-set {
  overflow-x: auto;
}

.card {
  caret-color: transparent;
  background-color: inherit;
  justify-content: center;
  align-items: center;
  border: none;
  max-width: 50vh;
}



.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}


.items{
  align-items: start;
  justify-content: space-between;
}

.item-border {
  list-style: none;
  border: 1px solid #000000;
  max-width: min-content;
  margin: 10px;

}

.nav-item.selected {
  border-bottom: 3px solid rgb(103, 216, 103);
  color: #e5e6e6;
}

.app-container {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
  font-family: 'Raleway';
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}



.lazy-image {
    opacity: 0;
    transition: opacity 0.3s;
}
.lazy-image.loaded {
    opacity: 1;
}




.loader {
  width: 80px;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  

}

.loader-text {
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  color: #C8B6FF;
  animation: text_713 3.5s ease both infinite;
  font-size: .8rem;
  letter-spacing: 1px;
}

.load {
  background-color: #9A79FF;
  border-radius: 50px;
  display: block;
  height: 16px;
  width: 16px;
  bottom: 0;
  position: absolute;
  transform: translateX(64px);
  animation: loading_713 3.5s ease both infinite;
}

.load::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #D1C2FF;
  border-radius: inherit;
  animation: loading2_713 3.5s ease both infinite;
}

@keyframes text_713 {
  0% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }

  40% {
    letter-spacing: 2px;
    transform: translateX(26px);
  }

  80% {
    letter-spacing: 1px;
    transform: translateX(32px);
  }

  90% {
    letter-spacing: 2px;
    transform: translateX(0px);
  }

  100% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }
}

@keyframes loading_713 {
  0% {
    width: 16px;
    transform: translateX(0px);
  }

  40% {
    width: 100%;
    transform: translateX(0px);
  }

  80% {
    width: 16px;
    transform: translateX(64px);
  }

  90% {
    width: 100%;
    transform: translateX(0px);
  }

  100% {
    width: 16px;
    transform: translateX(0px);
  }
}

@keyframes loading2_713 {
  0% {
    transform: translateX(0px);
    width: 16px;
  }

  40% {
    transform: translateX(0%);
    width: 80%;
  }

  80% {
    width: 100%;
    transform: translateX(0px);
  }

  90% {
    width: 80%;
    transform: translateX(15px);
  }

  100% {
    transform: translateX(0px);
    width: 16px;
  }
}

